* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-left {
    width: 350px;
    min-height: 34rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.escrito{
    width: 175px!important;
}

.group:nth-child(1) {
    min-height: 19rem;
}
.group:nth-child(1) img {
    height: 3rem;
}

.group input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username,
.senha {
    font: #fafafa;
    padding: 4px 0px 4px 8px;
    width: 260px;
    height: 36px;
    font-size: 12px;
}

.group img {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nutmeg{
    display: flex;
}
.nutmeg2 span:nth-child(2){
    color: #0095F6;

}
.entraFace {
    margin-left: 7px;
    color: #385185;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esqueceuSenha {
    color: #00376b;
}

.enviar {
    font: #fafafa;
    padding: 5px 9px;
    width: 260px;
    height: 36px;
    font-size: 12px;
    background-color: #0095f6;
}

.obtenhaAplicativo {
    text-align: center;
}

.download img {
    margin-top: 15px;
    width: 10rem ;
}

@media screen and (max-width: 1000px){
    .instagram-phone{
        display: none;
    }
   
}
    